section {
    width: 90%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
}

.container div {
    width: 50%;
}

.weatherDescription {
    color: cornflowerblue;
}

.weatherDescription::first-letter {
    text-transform: uppercase;
}

.pollution {
    color: red;
}

#cameras {
    width: 80%;
    height: 20vw;
}