
.btn {
    font-size: 20px;
    padding: 6px 12px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
}
.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}


#map {
    height: 600px;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
    
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }
  body{
    background-color:#f7f7f7;
  }

  h1{
    text-align: center;
    margin:50px;
  }

div.container{
  display: block;
  text-align: center;
}

div.panel-body{
  margin:25px;
  
}

div.alerta{

  font-size: 20px;
  margin-left: 40px;
  font-family: 'Courier New', Courier, monospace;
}
div.place{
  background-color:#f7f7f7;
  display: inline-block ;
}
#datosGuardados{
  display: inline-block ;
  display: inline-block;
  padding: 30px;
  margin: 30px;
  text-align: -webkit-center;
 
}
.basefire{
  background:#E5EAF0;
  width: 500px;
  padding: 30px;
  border: 1px solid #43B17D;
  border-radius: 10px;
  margin: 30px;
  box-sizing: content-box;
  text-align: center;
  display: inline-block;
}

#añadir{

  cursor: pointer;
  text-align: center;
  width: 200px;
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
  border-radius: 10px;
  
}

#añadir:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.delete-button{
  cursor: pointer;
}
